colorama==0.4.6 ; python_version >= "3.12" and python_version < "4.0" and sys_platform == "win32"
loguru==0.7.3 ; python_version >= "3.12" and python_version < "4.0"
prompt-toolkit==3.0.48 ; python_version >= "3.12" and python_version < "4.0"
questionary==2.1.0 ; python_version >= "3.12" and python_version < "4.0"
wcwidth==0.2.13 ; python_version >= "3.12" and python_version < "4.0"
win32-setctime==1.2.0 ; python_version >= "3.12" and python_version < "4.0" and sys_platform == "win32"
