annotated-types==0.7.0 ; python_version >= "3.12" and python_version < "4.0"
astroid==3.3.8 ; python_version >= "3.12" and python_version < "4.0"
authlib==1.4.0 ; python_version >= "3.12" and python_version < "4.0"
bandit==1.8.2 ; python_version >= "3.12" and python_version < "4.0"
black==24.10.0 ; python_version >= "3.12" and python_version < "4.0"
certifi==2024.12.14 ; python_version >= "3.12" and python_version < "4.0"
cffi==1.17.1 ; python_version >= "3.12" and python_version < "4.0" and platform_python_implementation != "PyPy"
cfgv==3.4.0 ; python_version >= "3.12" and python_version < "4.0"
charset-normalizer==3.4.1 ; python_version >= "3.12" and python_version < "4.0"
click==8.1.8 ; python_version >= "3.12" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.12" and python_version < "4.0"
coverage[toml]==7.6.10 ; python_version >= "3.12" and python_version < "4.0"
cryptography==44.0.1 ; python_version >= "3.12" and python_version < "4.0"
dill==0.3.9 ; python_version >= "3.12" and python_version < "4.0"
distlib==0.3.9 ; python_version >= "3.12" and python_version < "4.0"
dparse==0.6.4 ; python_version >= "3.12" and python_version < "4.0"
filelock==3.16.1 ; python_version >= "3.12" and python_version < "4.0"
flake8-fixme==1.1.1 ; python_version >= "3.12" and python_version < "4.0"
flake8==7.1.1 ; python_version >= "3.12" and python_version < "4.0"
identify==2.6.5 ; python_version >= "3.12" and python_version < "4.0"
idna==3.10 ; python_version >= "3.12" and python_version < "4.0"
iniconfig==2.0.0 ; python_version >= "3.12" and python_version < "4.0"
isort==5.13.2 ; python_version >= "3.12" and python_version < "4.0"
jinja2==3.1.5 ; python_version >= "3.12" and python_version < "4.0"
mando==0.7.1 ; python_version >= "3.12" and python_version < "4.0"
markdown-it-py==3.0.0 ; python_version >= "3.12" and python_version < "4.0"
markupsafe==3.0.2 ; python_version >= "3.12" and python_version < "4.0"
marshmallow==3.25.1 ; python_version >= "3.12" and python_version < "4.0"
mccabe==0.7.0 ; python_version >= "3.12" and python_version < "4.0"
mdurl==0.1.2 ; python_version >= "3.12" and python_version < "4.0"
mypy-extensions==1.0.0 ; python_version >= "3.12" and python_version < "4.0"
mypy==1.14.1 ; python_version >= "3.12" and python_version < "4.0"
nodeenv==1.9.1 ; python_version >= "3.12" and python_version < "4.0"
packaging==24.2 ; python_version >= "3.12" and python_version < "4.0"
pathspec==0.12.1 ; python_version >= "3.12" and python_version < "4.0"
pbr==6.1.0 ; python_version >= "3.12" and python_version < "4.0"
platformdirs==4.3.6 ; python_version >= "3.12" and python_version < "4.0"
pluggy==1.5.0 ; python_version >= "3.12" and python_version < "4.0"
pre-commit==4.0.1 ; python_version >= "3.12" and python_version < "4.0"
psutil==6.1.1 ; python_version >= "3.12" and python_version < "4.0"
pycodestyle==2.12.1 ; python_version >= "3.12" and python_version < "4.0"
pycparser==2.22 ; python_version >= "3.12" and python_version < "4.0" and platform_python_implementation != "PyPy"
pydantic-core==2.23.4 ; python_version >= "3.12" and python_version < "4.0"
pydantic==2.9.2 ; python_version >= "3.12" and python_version < "4.0"
pyflakes==3.2.0 ; python_version >= "3.12" and python_version < "4.0"
pygments==2.19.1 ; python_version >= "3.12" and python_version < "4.0"
pylint==3.3.3 ; python_version >= "3.12" and python_version < "4.0"
pytest-cov==6.0.0 ; python_version >= "3.12" and python_version < "4.0"
pytest==8.3.4 ; python_version >= "3.12" and python_version < "4.0"
pyyaml==6.0.2 ; python_version >= "3.12" and python_version < "4.0"
radon==6.0.1 ; python_version >= "3.12" and python_version < "4.0"
requests==2.32.3 ; python_version >= "3.12" and python_version < "4.0"
rich==13.9.4 ; python_version >= "3.12" and python_version < "4.0"
ruamel-yaml-clib==0.2.12 ; platform_python_implementation == "CPython" and python_version < "3.13" and python_version >= "3.12"
ruamel-yaml==0.18.10 ; python_version >= "3.12" and python_version < "4.0"
safety-schemas==0.0.10 ; python_version >= "3.12" and python_version < "4.0"
safety==3.2.14 ; python_version >= "3.12" and python_version < "4.0"
setuptools==75.8.0 ; python_version >= "3.12" and python_version < "4.0"
shellingham==1.5.4 ; python_version >= "3.12" and python_version < "4.0"
six==1.17.0 ; python_version >= "3.12" and python_version < "4.0"
stevedore==5.4.0 ; python_version >= "3.12" and python_version < "4.0"
tomlkit==0.13.2 ; python_version >= "3.12" and python_version < "4.0"
typer==0.15.1 ; python_version >= "3.12" and python_version < "4.0"
typing-extensions==4.12.2 ; python_version >= "3.12" and python_version < "4.0"
urllib3==2.3.0 ; python_version >= "3.12" and python_version < "4.0"
virtualenv==20.29.1 ; python_version >= "3.12" and python_version < "4.0"
xenon==0.9.3 ; python_version >= "3.12" and python_version < "4.0"
